# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars
!*.tfvars.example
crash.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Secrets
.env
*.pem
*.keyflink-apps/anomaly-detector/*.jar
flink-apps/flink-sql-connector-kinesis-4.3.0-1.19.jar
flink-apps/anomaly_detector.zip
infra/modules/flink/.build/anomaly_detector.zip
infra/modules/alerter/.build/anomaly_alerter.zip
flink-apps/anomaly-detector/flink-sql-connector-kinesis-4.3.0-1.19.jar
